/* buscador por lugares */
.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  text-align: center;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
/* Buscador coordenadas  */
.searchCoordinate {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  text-align: center;
  display: flex;

}
.searchCoordinate form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.searchCoordinate input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 40%;
  margin: 5px;
  text-align: center;
}
.searchCoordinate button{
  align-self: center;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  height: 30px;
  padding: 7px;
  font-size: 1.2rem;
  width: 90%;
  
}


.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 15;
}
.locate img {
  width: 30px;
  cursor: pointer;
}