@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
:root{
  /* colors */
--white:#ffffff;
--dark-blue:#28527A;
--light-blue:#8AC4D0;
--dark-yelow:#F4D160;
--ligth-yelow:#FBEEAC;
--white:#ffffff;
--black:#000000;
 /* fonst size */
--normal-font:12px;

}

html, body, #root {
  padding: 0;
  margin: 0;
  font-size: var(--normal-font);
  width: 100vw;
  height: 100vh;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
